.mat-card-title {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex: 1;
}
.mat-card-header {
 display: flex;
 flex: 1;
 flex-direction: column;
}
.example-full-width, .example-full-width > div, .full-width {
 width: 100%;
}
.card-bottom {
 display: flex;
 flex: 1;
 justify-content: space-between;
}
.example-header-image {
 background-size: cover;
}