<footer class="footer">
 <div class="footer-wrap">
   <div class="inner-container text-center">
     <a class="site-name">Memo</a>
   </div>
   <div class="footer-copy"> (c) 2017 Truslab </div>
 </div>
</footer>