.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.write {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.write .materialize-textarea {
  padding: 0px;
  padding-bottom: 36px;
  margin-bottom: 0px;
  font-size: 18px;
}

.write .card-content {
  padding-bottom: 10px;
}

.write .card-action {
  text-align: right;
}
