<div style="
 display: flex; align-items: center; justify-content: center;
 height: 100%; margin-top: -52px; ">
 <div style="box-shadow: 3px 3px 3px rgba(0,0,0,.30); width: 400px; display: inline-block;">
   <button *ngIf="!afAuth.auth.currentUser" mat-raised-button (click)="loginGoogle()" style="width: 100%;" color="primary">Google Login</button>
 </div>
</div>