<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 100%;height: 100%;">
 <app-nav></app-nav>
 <router-outlet></router-outlet>
 <app-footer></app-footer>
</div>

<!-- <div style="width: 100%;height: 100%;">
 <app-nav></app-nav>
 <app-login></app-login>
</div>
 -->

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-checkbox>Check me!</mat-checkbox>

  <h1>Customers</h1>
  <div *ngFor="let board of boards">
    {{board.user}}
  </div>
</div>
<router-outlet></router-outlet>
 -->